<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p> Estas buscando la rutina : {{busqueda}} </p>


    {% for rutinas in rutinas %}

    <ul>

        <li>Rutinas: {{rutinas.nombre}}</li>
        <li>Dias: {{rutinas.dias}}</li>



    </ul>


    {% endfor %}


</body>
</html>